# Assignment 7 - Pandas

Due Oct 19.

In this assignment we will use pandas to examine earthquake data.

Start by importing pandas, numpy and matplotlib.

In [13]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

I saved you some time by pre-downloading some data in .csv format from the [USGS Earthquakes Database](https://earthquake.usgs.gov/earthquakes/search/). It is located at:

http://www.ldeo.columbia.edu/~rpa/usgs_earthquakes_2014.csv

You don't even need to download it. You can open it directly with Pandas.

### 1) Use Pandas' read_csv function directly on this url to open it as a DataFrame
(Don't use any special options). Display the first few rows and the DataFrame info.

In [17]:
url ="http://www.ldeo.columbia.edu/~rpa/usgs_earthquakes_2014.csv"
earthquakes = pd.read_csv(url)
earthquakes.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake

You should have seen that the dates were not automatically parsed into datetime types.

### 2) Re-read the data in such a way that all date columns are identified as dates and the earthquake id is used as the index

Verify that this worked using the `head` and `info` functions.

In [86]:
earthquakes = pd.read_csv('http://www.ldeo.columbia.edu/~rpa/usgs_earthquakes_2014.csv', parse_dates=[1], index_col=11)
earthquakes.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type
id,,,,,,,,,,,,,,
ak11155107,2014-01-31 23:53:37.000,60.251999999999995,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
nn00436847,2014-01-31 23:48:35.452,37.0703,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
ak11151142,2014-01-31 23:47:24.000,64.6717,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
ak11151135,2014-01-31 23:30:54.000,63.1887,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
ci37171541,2014-01-31 23:30:52.210,32.616833299999996,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake

### 3) Use `describe` to get the basic statistics of all the columns

Note the highest and lowest magnitude of earthquakes in the databse.

In [20]:
earthquakes.describe()

,longitude,depth,mag,nst,gap,dmin,rms
count,120108.000000,120107.000000,120065.000000,59688.000000,94935.000000,85682.000000,119716.000000
mean,-99.961402,28.375029,1.793958,17.878284,124.048978,0.893198,0.358174
std,82.996858,62.215416,1.343466,14.911369,68.518595,2.903966,0.364046
min,-179.998900,-9.900000,-0.970000,0.000000,9.000000,0.000000,0.000000
25%,-147.742025,4.100000,0.820000,8.000000,74.000000,0.020760,0.070000
50%,-120.832000,9.200000,1.400000,14.000000,107.000000,0.073670,0.200000
75%,-116.068100,22.880000,2.400000,22.000000,155.000000,0.447000,0.590000
max,179.998000,697.360000,8.200000,365.000000,356.400000,64.498000,8.460000

### 4) Use `sort_values` to get the top 20 earthquakes by magnitude

In [22]:
earthquakes.groupby(earthquakes.index).mean().sort_values('mag', ascending=False).head(10)

            longitude   depth  mag  nst   gap   dmin   rms
id
usc000nzvd   -70.7691   25.00  8.2  NaN  23.0  0.609  0.66
usc000rki5   178.7352  109.00  7.9  NaN  22.0  0.133  0.71
usc000p27i   -70.4931   22.40  7.7  NaN  44.0  1.029  0.82
usc000phx5   162.1481   22.56  7.6  NaN  13.0  2.828  0.71
usb000pr89   155.0241   43.37  7.5  NaN  16.0  3.820  1.25
usc000piqj   162.0511   39.00  7.4  NaN  17.0  2.885  1.00
usb000slwn   -88.1225   40.00  7.3  NaN  18.0  1.078  0.70
usb000pq41  -100.9723   24.00  7.2  NaN  46.0  2.250  1.20
usc000sxh8   126.5217   45.00  7.1  NaN  18.0  1.397  0.71
usc000pft9   155.0485   60.53  7.1  NaN  21.0  3.729  0.88

Examine the structure of the `place` column. The country information seems to be in there. How would you get it out?

### 5) Extract the country using Pandas [text data functions](https://pandas.pydata.org/pandas-docs/stable/text.html)

Add it as a new column to the dataframe. (Is it really just country? No, some rows have the name of a US state.)

In [121]:

earthquakes['country']=earthquakes['place'].str.split(',').str.get(1)
earthquakes.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type,country
id,,,,,,,,,,,,,,,
ak11155107,2014-01-31 23:53:37.000,60.251999999999995,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake,Alaska
nn00436847,2014-01-31 23:48:35.452,37.0703,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake,Nevada
ak11151142,2014-01-31 23:47:24.000,64.6717,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake,Alaska
ak11151135,2014-01-31 23:30:54.000,63.1887,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake,Alaska
ci37171541,2014-01-31 23:30:52.210,32.616833299999996,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake,Mexico

### 6) Find the 10 states / countries with the highest _number_ of earthquakes

In [156]:
earthquakes.groupby('country')['country'].count().sort_values(ascending=False).head(10)

country
 California     44451
 Alaska         33589
 Oregon          3195
 Nevada          2858
 Washington      2784
 Hawaii          2564
 Puerto Rico     2284
 Indonesia       2120
 Oklahoma        1992
 Montana         1991
Name: country, dtype: int64

### 7) Find the top 10 states / countries where the strongest and weakest earthquakes occured

In [157]:
print('strongest')
print(earthquakes.sort_values('mag', ascending=False).head(10)['country'])
print('weakest')
print(earthquakes.sort_values('mag', ascending=True).head(10)['country'])

strongest
id
usc000nzvd                Chile
usc000rki5               Alaska
usc000p27i                Chile
usc000phx5      Solomon Islands
usb000pr89     Papua New Guinea
usc000piqj      Solomon Islands
usb000slwn          El Salvador
usb000pq41               Mexico
usc000pft9     Papua New Guinea
usc000sxh8            Indonesia
Name: country, dtype: object
weakest
id
uw60944536     Oregon
uw60889832     Oregon
uw60886762     Oregon
uw60891597     Oregon
uw60908911     Oregon
uw60891587     Oregon
uw60891577     Oregon
uw60891307     Oregon
uw60882457     Oregon
uw60882547     Oregon
Name: country, dtype: object

It looks like US states are being treated differently from foreign countries. We would like to fix that.

How can we tell if a name is a US state name? Python has a package for that: https://pypi.python.org/pypi/us!

This is a good time to try installing a new package using `pip`. Pip is the original python package manager that predates `conda`. Basically `conda` is more oriented towards data science while `pip` is more general purpose. There are lots more packages on `pip` than on `conda`. You can read a [comparision](https://www.quora.com/What-is-the-comparison-among-conda-vs-pip-vs-anaconda) of these two utilities if you want to know more.

### 8) Install the `us` package using pip, either directly from the notebook or the command line

The shell command is `pip install us`.

In [160]:
!pip install us

Collecting us
  Downloading us-1.0.0.tar.gz
Collecting jellyfish==0.5.6 (from us)
  Downloading jellyfish-0.5.6.tar.gz (132kB)
    100% |████████████████████████████████| 133kB 75kB/s ta 0:00:01
Building wheels for collected packages: us, jellyfish
  Running setup.py bdist_wheel for us ... done
  Stored in directory: /Users/madeleinepascolini/Library/Caches/pip/wheels/d6/a4/78/845fac9702b2f9957d9ee03a0ae7915cd50c20b191bf2fb3c9
  Running setup.py bdist_wheel for jellyfish ... done
  Stored in directory: /Users/madeleinepascolini/Library/Caches/pip/wheels/0f/a8/f6/3c2f1675f6a60367a113203470a21398c178d5145df7e68d24
Successfully built us jellyfish
Installing collected packages: jellyfish, us
Successfully installed jellyfish-0.5.6 us-1.0.0

### 9) Import the `us` package to verify your installation works

In [161]:
import us

### 10) Read the [`us` documentation](https://pypi.python.org/pypi/us) to figure out how to create a list of state names (all upper case)

In [459]:
st=us.states.STATES
st=str(st)
st=st.upper()
st = st.replace('<STATE','')
st = st.replace(':','')
st = st.replace('>','')
st = st.replace('[','')
st = st.replace(']','')
st_upper = st.split()
str(st_upper).find('ARIZONA')
st_upper

['ALABAMA,',
 'ALASKA,',
 'ARIZONA,',
 'ARKANSAS,',
 'CALIFORNIA,',
 'COLORADO,',
 'CONNECTICUT,',
 'DELAWARE,',
 'DISTRICT',
 'OF',
 'COLUMBIA,',
 'FLORIDA,',
 'GEORGIA,',
 'HAWAII,',
 'IDAHO,',
 'ILLINOIS,',
 'INDIANA,',
 'IOWA,',
 'KANSAS,',
 'KENTUCKY,',
 'LOUISIANA,',
 'MAINE,',
 'MARYLAND,',
 'MASSACHUSETTS,',
 'MICHIGAN,',
 'MINNESOTA,',
 'MISSISSIPPI,',
 'MISSOURI,',
 'MONTANA,',
 'NEBRASKA,',
 'NEVADA,',
 'NEW',
 'HAMPSHIRE,',
 'NEW',
 'JERSEY,',
 'NEW',
 'MEXICO,',
 'NEW',
 'YORK,',
 'NORTH',
 'CAROLINA,',
 'NORTH',
 'DAKOTA,',
 'OHIO,',
 'OKLAHOMA,',
 'OREGON,',
 'PENNSYLVANIA,',
 'RHODE',
 'ISLAND,',
 'SOUTH',
 'CAROLINA,',
 'SOUTH',
 'DAKOTA,',
 'TENNESSEE,',
 'TEXAS,',
 'UTAH,',
 'VERMONT,',
 'VIRGINIA,',
 'WASHINGTON,',
 'WEST',
 'VIRGINIA,',
 'WISCONSIN,',
 'WYOMING']

### 11) Write a function to check whether a string is a US state name.
This function should not be case sensitive. It should also strip any whitespace out of the test string.

In [892]:

def is_us_state(string):
    c={}
    
    #for x in range(0,len(string)):
         
    if string==False:
        return
    b=string.upper().strip()
                
    
        
    if str(st_upper).find(b)>0:
            
        c[x]='state'
            
    else: 
          
            c[x]='notastate'
    return c

In [894]:
a='Arizona'

b = is_us_state(a)
b

### 12) Use Pandas' [apply](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html) function to apply this to each row of the country name series

You should produce a new boolean series. (Hint: use `dropna()` to drop rows that have null values before calling apply.)

In [858]:
countries=earthquakes['country'] 

stateornot=countries.dropna().apply(is_us_state)
print(stateornot)

id
ak11155107        {116606: 'state'}
nn00436847        {116606: 'state'}
ak11151142        {116606: 'state'}
ak11151135        {116606: 'state'}
ci37171541        {116606: 'state'}
ci11419722        {116606: 'state'}
ci11419714        {116606: 'state'}
ak11151127        {116606: 'state'}
ak11151125        {116606: 'state'}
nc72153361        {116606: 'state'}
usc000mqlp    {116606: 'notastate'}
ak11155101        {116606: 'state'}
nc72153351        {116606: 'state'}
nc72153356        {116606: 'state'}
usc000mqln    {116606: 'notastate'}
nm020414a         {116606: 'state'}
ci11419698        {116606: 'state'}
ci11419706        {116606: 'state'}
ak11151102        {116606: 'state'}
nc72153341        {116606: 'state'}
mb14328395        {116606: 'state'}
ci11419690        {116606: 'state'}
nc72153331        {116606: 'state'}
pr14031002    {116606: 'notastate'}
ak11151084        {116606: 'state'}
usc000mf1x        {116606: 'state'}
ci11419682        {116606: 'state'}
ci11419674        {116606: 'state'}
ak11151076        {116606: 'state'}
uw60681512        {116606: 'state'}
                      ...
usc000t6y2    {116606: 'notastate'}
usb000t1ww        {116606: 'state'}
nc72358491        {116606: 'state'}
ci37065311        {116606: 'state'}
nc72358486        {116606: 'state'}
hv60809571        {116606: 'state'}
uw60926197        {116606: 'state'}
nc72358481        {116606: 'state'}
mb14712763        {116606: 'state'}
nm60020625        {116606: 'state'}
mb14923536        {116606: 'state'}
ak11453419        {116606: 'state'}
ak11453418        {116606: 'state'}
usc000t6y1    {116606: 'notastate'}
nc72358471        {116606: 'state'}
nc72358476        {116606: 'state'}
nc72358466        {116606: 'state'}
nc72358461        {116606: 'state'}
ci37065303        {116606: 'state'}
ak11453417        {116606: 'state'}
ak11453416        {116606: 'state'}
usb000t1gp    {116606: 'notastate'}
ak11453414        {116606: 'state'}
ak11453410        {116606: 'state'}
ak11453411        {116606: 'state'}
ak11453391        {116606: 'state'}
ak11453395        {116606: 'state'}
nc72358451        {116606: 'state'}
ak11453390        {116606: 'state'}
ak11453389        {116606: 'state'}
Name: country, Length: 116607, dtype: object

### 13) reindex this boolean series to match the dataframe's index
Fill the null values with `False` using `.fillna()`.

In [895]:
countries=earthquakes['country'] 
stateornot=countries.fillna(False).apply(is_us_state)
print(stateornot)

id
ak11155107        {116606: 'state'}
nn00436847        {116606: 'state'}
ak11151142        {116606: 'state'}
ak11151135        {116606: 'state'}
ci37171541        {116606: 'state'}
ci11419722        {116606: 'state'}
ci11419714        {116606: 'state'}
ak11151127        {116606: 'state'}
ak11151125        {116606: 'state'}
nc72153361        {116606: 'state'}
usc000mqlp    {116606: 'notastate'}
ak11155101        {116606: 'state'}
nc72153351        {116606: 'state'}
nc72153356        {116606: 'state'}
usc000mqln    {116606: 'notastate'}
nm020414a         {116606: 'state'}
usc000mqls                     None
ci11419698        {116606: 'state'}
ci11419706        {116606: 'state'}
ak11151102        {116606: 'state'}
nc72153341        {116606: 'state'}
mb14328395        {116606: 'state'}
ci11419690        {116606: 'state'}
nc72153331        {116606: 'state'}
pr14031002    {116606: 'notastate'}
ak11151084        {116606: 'state'}
usc000mf1x        {116606: 'state'}
ci11419682        {116606: 'state'}
ci11419674        {116606: 'state'}
ak11151076        {116606: 'state'}
                      ...
usb000t1ww        {116606: 'state'}
nc72358491        {116606: 'state'}
ci37065311        {116606: 'state'}
nc72358486        {116606: 'state'}
hv60809571        {116606: 'state'}
uw60926197        {116606: 'state'}
nc72358481        {116606: 'state'}
mb14712763        {116606: 'state'}
nm60020625        {116606: 'state'}
mb14923536        {116606: 'state'}
ak11453419        {116606: 'state'}
ak11453418        {116606: 'state'}
usc000t6y1    {116606: 'notastate'}
nc72358471        {116606: 'state'}
nc72358476        {116606: 'state'}
nc72358466        {116606: 'state'}
nc72358461        {116606: 'state'}
ci37065303        {116606: 'state'}
ak11453417        {116606: 'state'}
ak11453416        {116606: 'state'}
usb000t1gp    {116606: 'notastate'}
ak11453414        {116606: 'state'}
usc000t6yn                     None
ak11453410        {116606: 'state'}
ak11453411        {116606: 'state'}
ak11453391        {116606: 'state'}
ak11453395        {116606: 'state'}
nc72358451        {116606: 'state'}
ak11453390        {116606: 'state'}
ak11453389        {116606: 'state'}
Name: country, Length: 120108, dtype: object

### 14) Now re-assign the country column in the DataFrame to `USA` if the row is a state.
Also add the state name as a new column.

In [910]:
country={}

for x in range(0,len(countries)):
  
    if str(stateornot[x]).find('notastate')<1:
        
        country[x]='USA'
        
    else:
        country[x]=countries[x]

earthquakes['country']=country.values()
earthquakes.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type,country
id,,,,,,,,,,,,,,,
ak11155107,2014-01-31 23:53:37.000,60.251999999999995,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake,USA
nn00436847,2014-01-31 23:48:35.452,37.0703,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake,USA
ak11151142,2014-01-31 23:47:24.000,64.6717,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake,USA
ak11151135,2014-01-31 23:30:54.000,63.1887,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake,USA
ci37171541,2014-01-31 23:30:52.210,32.616833299999996,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake,USA

### 15) Now redo the country count and minimum magnitdue using the corrected data

In [914]:
print('country count')
print(earthquakes.groupby('country')['country'].count().sort_values(ascending=False).head(10))
print('strongest')
print(earthquakes.sort_values('mag', ascending=False).head(10)['country'])
print('weakest')
print(earthquakes.sort_values('mag', ascending=True).head(10)['country'])

country count
country
USA                  101155
 Puerto Rico           2284
 Indonesia             2120
 Papua New Guinea      1356
 Chile                 1191
 Japan                 1150
 Canada                 765
 New Zealand            762
 Philippines            749
 Fiji                   666
Name: country, dtype: int64
strongest
id
usc000nzvd                Chile
usc000rki5                  USA
usc000p27i                Chile
usc000phx5      Solomon Islands
usb000pr89     Papua New Guinea
usc000piqj      Solomon Islands
usb000slwn          El Salvador
usb000pq41                  USA
usc000pft9     Papua New Guinea
usc000sxh8            Indonesia
Name: country, dtype: object
weakest
id
uw60944536    USA
uw60889832    USA
uw60886762    USA
uw60891597    USA
uw60908911    USA
uw60891587    USA
uw60891577    USA
uw60891307    USA
uw60882457    USA
uw60882547    USA
Name: country, dtype: object

### 16) Create a filtered dataset that only has earthquakes of magnitude 4 or larger

In [954]:
greaterthan4=earthquakes.groupby('mag')['mag'].filter(lambda x: x.mean()>4)
greaterthan4.head()

id
usc000mqlp    4.2
usc000mqln    4.3
usc000mqls    4.4
usc000mf1x    4.2
usc000mqlm    4.3
Name: mag, dtype: float64

### 17) Analyze the distribution of the Earthquake magnitudes in the filtered distribution

Make a histogram of the Earthquake count versus magnitude. Make sure to use a Logarithmic scale. What sort of relationship do you see?

fig, ax = plt.subplots()
plt(greaterthan4)
df_filt.hist('mag', bins=20, ax=ax)
ax.set_yscale('log')

### 18) Visualize the locations of earthquakes by making a scatterplot of their latitude and longitude.

Use the filtered data. Color it by magnitude. Make it pretty

In [989]:
earthquakes['greaterthan4']=earthquakes.groupby('mag')['mag'].filter(lambda x: x.mean()>4)

### 19) Do the same for depth